.toggleMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  position: fixed;
  left: 12px;
  top: 12px;
  background-color: $white;
  color: $black;
  z-index: 999;
}

nav {
  width: 300px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 998;
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
  background-color: $black;
  overflow: auto;
  
  @include respond(gt-sm) {
    width: 380px;
    background-color: rgba($black, .2);
  }

  &.open {
    transform: translate(0);
  }

  .logo-wrapper {
    display: block;
    height: 100px;
    
    @include respond(gt-sm) {
      height: 300px;
    }

    h1 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 12px;
      height: inherit;
      
      img {
        height: 100%;
        
        @include respond(gt-sm) {
          margin-top: 0px;
          height: 130px;
        }
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
  }

  li {
    width: 100%;

    a {
      display: block;
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: center;
      color: $white;
      cursor: pointer;
    }
  }

  li.active {
    a {
      background-color: #404146;
      color: #3bd3fc;
    }
  }

  li.hilight {
    a {
      color: #3bd3fc;
    }
  }
}
