// *** screens sizes for responsice design / To use with respond(size) mixins.
$xs: 600px;
$sm: 960px;
$md: 1280px;
$lg: 1920px;
// screens sizes for responsice design ***

$black: black;
$white: white;
$main-bg: #2e2e36;
$box-biography-bg: #1a1d24;
