@import 'helpers';

.header {
  height: 300px;
  background-image: url('./../assets/images/backgrounds/Godfather_header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 35%;
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgb(66, 66, 66);
    background: linear-gradient(0deg, rgba(66, 66, 66, 1) 0%, rgba(255, 255, 255, 0) 45%);
  }
}

main {
  background-color: $main-bg;

  @include respond(gt-xs) {
    min-height: calc(100vh - 300px);
  }

  @include respond(gt-sm) {
    display: flex;
    justify-content: flex-end;
  }
}
