@import 'helpers';
@import 'nav';
@import './assets/fonts/stylesheet.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;

  > div {
    height: 100%;
  }
}

body {
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

button {
  background: none;
  border: 0;
  padding: 0;
  outline: none;
  cursor: pointer;
}

@import 'shapes';
@import 'layout';
