@import './../styles/helpers';

.profile-wrapper {
  padding: 12px;
  transform: translateY(-62px);
  color: $white;

  @include respond(gt-sm) {
    width: calc(100% - 380px);
  }

  @include respond(gt-md) {
    padding: 12px 90px;
  }

  h3 {
    font-size: 24px;

    @include respond(gt-sm) {
      font-size: 45px;
      margin-top: -10px;
    }
  }
}

.profile-details-top {
  display: flex;
  justify-content: space-between;
}

.profile-details-header {
  width: calc(100% - 150px - 12px);

  @include respond(gt-sm) {
    width: calc(100% - 150px - 50px)
  }
}

.profile-biography {
  padding: 20px;
  margin-top: 12px;
  border-radius: 4px;
  background-color: $box-biography-bg;

  @include respond(gt-sm) {
    margin-top: 0;
    margin-left: 200px;
  }

  .biography-title {
    font-size: 24px;
  }

  p {
    font-size: 16px;
    line-height: 1.4;
  }
}

.profile-popularity {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 30px;

  label {
    margin-right: 30px;
    font-size: 18px;

    @include respond(gt-sm) {
      font-size: 26px;
    }
  }
}

.profile-image-wrapper {
  height: 150px;
  width: 150px;
  border: 1px solid #707378;
  border-radius: 4px;
  box-shadow: 0px 0px 50px -5px rgba($black, .75);
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
