<template>
  <div
    class="profile-wrapper"
  >
    <div class="profile-details-top">
      <div class="profile-image-wrapper">
        <img
          :src="getImgUrl(employee.image)"
          alt=""
        >
      </div>
      <div class="profile-details-header">
        <h3>{{ employee.name }}</h3>
        <div class="profile-popularity">
          <label>Popularity</label>
          <input
            type="range"
            min="1"
            max="5"
            v-model="employee.popularity"
          >
        </div>
      </div>
    </div>
    <div class="profile-biography">
      <div class="biography-title mb18">Biography</div>
      <p>{{ employee.biography }}</p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Employee',
    props: ['employee'],
    methods: {
      getImgUrl(img) {
        return require('../assets/images/profiles/'+img);
      }
    }
  }
</script>

<style lang="scss">
  @import './Employee';
</style>
